@import 'tailwindcss';

@layer base {
  * {
    @apply border-zinc-200 outline-zinc-400/50;
  }
  body {
    @apply bg-zinc-50 text-zinc-800;
  }
}

@layer components {
  /* Typography */
  .pageTitle {
    @apply text-xl font-light ;
  }

  /* Form Elements */
  .input,
  .textarea {
    @apply w-full px-3 py-1 rounded-md
    border border-zinc-200 hover:border-zinc-300
    bg-white text-sm  placeholder:text-zinc-400
    ring-zinc-200
    focus-visible:ring-2 focus-visible:ring-zinc-200 focus-visible:outline-none focus-visible:border-zinc-300;
  }

  .label {
    @apply block text-sm font-normal text-zinc-500 my-1 ml-0.5;
  }

  /* Buttons */
  .button,
  .input {
    @apply h-10;
  }

  .button {
    @apply inline-flex px-3 py-1.5
    text-sm font-medium text-white
    bg-black shadow-xs
    items-center justify-center gap-2
    rounded-md
    transition-colors outline-none select-none
    focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-2
    disabled:pointer-events-none disabled:opacity-50 
    cursor-pointer touch-none;
    -webkit-tap-highlight-color: transparent;
  }

  .button.secondary {
    @apply border border-zinc-200 bg-zinc-50
    font-medium text-zinc-700
    hover:border-zinc-300 hover:bg-white hover:text-zinc-800;
  }

  .button.danger {
    @apply bg-red-50 text-red-500
    hover:bg-red-400 hover:text-white;
  }
}
