@import 'tailwindcss';

@layer base {
  * {
    @apply border-zinc-200 outline-zinc-400/50;
  }
  body {
    @apply bg-zinc-50 text-zinc-800;
  }
}

@layer components {
  .input,
  .button,
  .textarea {
    @apply focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-2
    disabled:pointer-events-none disabled:opacity-50;
  }

  .input,
  .textarea {
    @apply w-full px-3 py-1 rounded-md
    border border-zinc-200 hover:border-zinc-300
    bg-white placeholder:text-zinc-400
    ring-zinc-200;
  }

  .input {
    @apply h-10;
  }  

  .label {
    @apply block text-sm font-normal text-zinc-500 my-1 ml-0.5;
  }

  .button {
    @apply h-9 inline-flex px-3 py-1.5
    text-sm font-medium text-white
    bg-black shadow-xs
    items-center justify-center gap-2
    rounded-md
    transition-colors outline-none select-none    
    cursor-pointer touch-none;
    -webkit-tap-highlight-color: transparent;
  }

  .button.secondary {
    @apply border border-zinc-200 bg-zinc-50
    font-medium text-zinc-700
    hover:border-zinc-300 hover:bg-white hover:text-zinc-800;
  }
  
  .button.icon {
    @apply h-8 px-2 py-0;
  }

  .button.danger {
    @apply bg-rose-700 hover:bg-rose-800 ;
  }
}
